@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

* {
  font-family: "Raleway", Helvetica, sans-serif;
}

.header {
    height: 200px;
    background-color: gray;
    margin: auto;
}

.header input {
    padding: 10px 0px;
    border-radius: 10px;
}

.header button {
    border-radius: 5px;
}

.sidebar {
  display: inline-block;
  background-color: lightblue;
  width: 190px;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.mainmenu a {
  margin: auto;
  display: block;
  text-align: center;
  border-radius: 5px;
  width: 120px;
  background-color: whitesmoke;
  padding: 5px;
  margin-top: 5px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.mainmenu a:hover {
  background-color: rgba(247, 201, 3, 255);
}
